.profile_top{
background-image: url('../images/joker_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	width:100%;
	height:250px;
}
.top_container{
	position: absolute;
    top: 167px;
}
.profile_pic{
	width:150px;
	position:absolute;
    left: 50px;
	box-shadow: #000000 0px 3px 20px 1px, #ffffff 0px -3px 20px 1px;
}
.top_content{
	color:white;
	position: absolute;
    left: 25%;
    top: 20px;
}
.profile_content{
	color:black;
	top: 350px;
    position: absolute;
	width:100%;
	padding: 10px;
}
.socials_div{
	padding: 10px;
    box-shadow: #207979 0px 4px 20px 0px;
    width: 100%;
    text-align: right;
    height: 75px;
}
.socials_div a{
	padding-right:10px !important;
}
.left_content{
    background-color: #03a9f4 !important;
    color: white;
	box-shadow:#656262 0px 1px 10px 1px;
}
